fieldset {
    border-top:none !important;
    padding: 15px 0;
}

.form-group {
    padding: 15px 0;
    margin-bottom:0;
}

fieldset legend, .form-group {
    font-weight:700;
    font-size:16px;
    line-height:1.65em;
    color:#333;
}

.panel-body {
    padding: 15px 30px;
}

.panel-title {
    display:block;
    font-size:30px;
    font-weight:600;
    padding-bottom:5px;
    margin-bottom:30px;
    border-bottom:1px solid #ddd;
}

